 <%- include('partials/head') %>
<body>
  <header>
    <h1>register Your Home on airBnB</h1>
  
    <main>
      <form action="/contact-submit" method="post">
        <input type="text" name="HouseName" placeholder="Enter your Home name" />
        <input type="submit" />
      </form>
    </main>
  </header>  
</body>
</html>